{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'Nouveau lieu' | trans }}{% endblock %}

{% block main %}
    <div class="lieuForm">
        <h4 class="lieuTitle">{{ 'Nouveau lieu' | trans }}</h4><br>
        {{ form_start(lieuForm) }}
        {{ form_row(lieuForm.nom) }}
        {{ form_row(lieuForm.rue) }}
        {{ form_row(lieuForm.latitude) }}
        {{ form_row(lieuForm.longitude) }}
        {{ form_row(lieuForm.ville) }}
        <button class="btn btn-light btnAddLieu" id="btnAddLieuSubmit">{{ 'Ajouter' |trans }}</button>
        {% if fromPage == 'create' %}
            <a class="btn btn-light btnAddLieu btnBack" href="{{ path('sortie_add') }}">{{ 'Retour' |trans }}</a>
        {% else %}
            <a class="btn btn-light btnAddLieu btnBack"
               href="{{ path('sortie_update', {'id':sortieId}) }}">{{ 'Retour' |trans }}</a>
        {% endif %}
        {{ form_end(lieuForm) }}
    </div>
{% endblock %}

