{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - {{ 'Gestion participants' |trans }}{% endblock %}

{% block main %}

    <h4 class=" mt-xl-5">{{ 'Liste des participants' |trans }}</h4><br>
    <div id="tableParticipant">
        {{ block("users_table", "participant/users_table.html.twig") }}
    </div><hr>

    <h4 class="  mt-xl-3">{{ 'Ajouter un participant' |trans }}</h4><br>
    <div class="row">
        <div class="updateProfileForm formAddUser col-md-8 col-lg-6">
            <form method="post" id='formCsv' action="{{ path('participant_add_from_csv') }}" enctype="multipart/form-data">
                <label for="csv"><b>{{ 'Ajouter via CSV' |trans }}</b></label>
                <input type="file" id='csv' name="usersCsv"/>
                <input type="submit" value={{ 'Télécharger' |trans }} />
            </form><hr>
            <label for="" class="mb-3"><b>{{ 'Ajouter manuellement' |trans }}</b></label>
            {{ form_start(userForm) }}
            {{ form_widget(userForm) }}
            <div class="btnUpdateProfile">
                <button class="btn btn-light offset-md-3 col-md-3" id='btnSave'>{{ 'Enregistrer' |trans }}</button>
                <button class="btn btn-light col-md-3"><a href="{{ path('sortie_list') }}">{{ 'Annuler' |trans }}</a>
                </button>
            </div>
            {{ form_end(userForm) }}
        </div>
    </div><br>


{% endblock %}