{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - {{ participant.pseudo }}{% endblock %}

{% block main %}

    <div class="row">
        <div class="profilePicture offset-md-1 col-md-3 d-none d-md-block d-lg-block">
            <img src="{% if app.user %}{% if participant.photo  != null %}{{ asset('uploads/profilepictures/' ~ participant.photo) }}{% else %}{{ asset('img/userprofile.png') }}{% endif %}{% endif %}"
                 alt="Image de profil">
        </div>
        <div class="updateProfileForm col-md-8 col-lg-6">
            <h4 class="pseudoTitle">{{ participant.pseudo }}</h4><br>
            {{ form_start(userForm) }}
            {{ form_row(userForm.prenom, {'attr':{'disabled': 'disabled', 'class':'inputDisabled'}}) }}
            {{ form_row(userForm.nom,  {'attr':{'disabled': 'disabled','class':'inputDisabled'}}) }}
            {{ form_row(userForm.telephone, {'attr':{'disabled': 'disabled','class':'inputDisabled'}}) }}
            {{ form_row(userForm.email,  {'attr':{'disabled': 'disabled','class':'inputDisabled'}}) }}
            {{ form_row(userForm.campus, {'attr':{'disabled': 'disabled','class':'inputDisabled'}}) }}
            {{ form_end(userForm, {'render_rest': false}) }}
              {# En fonction de la page depuis laquelle on est dirigé vers le profil, le lien du bouton retour sera différent #}
            <button class="btn btn-light offset-2 col-md-3"><a href={% if fromPage == "sortie_list" %}"{{ path('sortie_list') }}"{% else %}"{{ path('sortie_details', { 'id': sortieId }) }}"{%endif%}>{{ 'Retour' |trans }}</a></button>
        </div>
    </div>
{% endblock %}