{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - Login{% endblock %}

{% block main %}

    {% if error %}
        <div class="alert-danger flash-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="loginForm">
        <form method="post">
            <div id="groupLoginForm" class="form-group row test">
                 <label class="labelForm col-md-4 col-4" for="username" id="identifiantLabel">{{ 'Identifiant' |trans }}</label>
                <input type="text" class="form-control  col-lg-8 col-md-7 col-8" id="username" name="_username" value="{{ last_username }}">
            </div>
            <div class="form-group row">
                 <label class="labelForm col-md-4 col-4" for="pass" id="passLabel">{{ 'Mot de passe' |trans }}</label>
                <input type="password" class="form-control col-lg-8 col-md-7 col-7" id="pass"  name="_password">
            </div>
            <div class="form-group row divLoginBottom">
                <div class="col-md-3 col-2 divConnectBtn">
                 <button type="submit" class="btn connectBtn btn-secondary">{{ 'Connexion' |trans }}</button></div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <div class="row divRememberPass">
                    <input type="checkbox" id="remember_me" name="_remember_me"/>
                     <label class="" for="remember_me">{{ 'Se souvenir de moi' |trans }}</label>
                     <p class="forgotPass"><a href="{{ path('participant_new_pass_request') }}">{{ 'Mot de passe oublié' |trans }}</a></p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}