{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - {{ 'Mot de passe oublié' |trans }}{% endblock %}

{% block main %}

    <div class="loginForm">
        <h5 class="formTitle">{{ 'Demande de mot de passe' |trans }}</h5><br>
        <form method="post" action="{{ path('participant_new_pass_request') }}">
            <div class="form-group row">
                <input type="email" class="form-control  offset-md-2 col-md-9" id="email" placeholder="Renseignez votre email" name="email" required>
            </div>
            <button type="submit" class="btn btn-secondary sendPassButton">{{ 'Envoyer' |trans }}</button>
        </form>
    </div>
{% endblock %}