{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - {{ 'Mon profil' |trans }}{% endblock %}

{% block main %}

    <div class="row">
        <div class="profilePicture offset-md-1 col-lg-2 col-md-3 d-none d-md-block d-lg-block">
            <img src="{% if app.user%}{% if app.user.photo  != null%}{{ asset('uploads/' ~ app.user.photo) }}{% else %}{{ asset('img/userprofile.png') }}{% endif %}{% endif %}" alt="Image de profil">
        </div>

        <div class="updateProfileForm col-md-8 col-lg-6">

            <h4 class="">{{ 'Mon profil' |trans }}</h4><br>

            {{ form_start(userForm) }}
            {{ form_widget(userForm)}}
            <div class="btnUpdateProfile">
                <button class="btn btn-light offset-md-3 col-md-3" id='btnSave'>{{ 'Enregistrer' |trans }}</button>
                <button class="btn btn-light col-md-3"><a href="{{ path('sortie_list') }}">{{ 'Annuler' |trans }}</a></button>
            </div>
            {{ form_end(userForm) }}
        </div>
    </div>

    <script type="text/javascript">

        </script>
{% endblock %}