{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - {{ 'Réinitialisation' |trans }}{% endblock %}

{% block main %}

    <div class="loginForm">
        {{ form_start(formPass) }}
        {{ form_row(formPass.password) }}
        <button type="submit" class="btn btn-secondary">{{ 'Réinitialiser' |trans }}</button>
        {{ form_end(formPass) }}
    </div>
{% endblock %}