{% block users_table %}

    <table
            id="usersTable"
            data-page-size="20"
            data-id-field="id"
            data-cache="false"
            class="display table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>{{ 'Pseudo'|trans }}</th>
            <th>{{ 'Nom'|trans }}</th>
            <th>{{ 'Prénom'|trans }}</th>
            <th>{{ 'Téléphone'|trans }}</th>
            <th>{{ "Email"|trans }}</th>
            <th>{{ 'Actif'|trans }}</th>
            <th>{{ 'Campus'|trans }}</th>
            <th>{{ 'Activation / Désactivation'|trans }}</th>
            <th>{{ 'Supprimer'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.telephone }}</td>
                <td>{{ participant.email }}</td>
                <td>{% if participant.actif == 1 %}Oui{% else %}Non{% endif %}</td>
                <td>{{ participant.campus.nom }}</td>
                <td>
                    <button class="deleteButton" id="disableButton" onclick="disableOrEnable({{ participant.id }})"
                            value="{{ participant.actif }}"
                            {% if participant.actif == true %}>Désactiver{% else %}>Activer{% endif %}</button>
                </td>
                <td>
                    <button class="deleteButton" id="deleteButton" onclick="deleteParticipant({{ participant.id }})"><i
                                class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form id="deleteForm"><input type="hidden" name="userId" id='userId' value=""></form>


    <script type="text/javascript">

        var table = $('#usersTable');

        $(function () {
            table.bootstrapTable({});
        });

        //Suppression du participant (AJAX)
        function deleteParticipant(userId) {
            if (confirm("Etes-vous sûr(e) de vouloir supprimer ce participant ? Attention cela supprimera les sorties dont il est l'organisateur et l'ensemble de ses inscriptions. ")) {

                App.deleteParticipant('{{ path('participant_delete') }}', userId);
            }
        }

        //Suppression du participant (AJAX)
        function disableOrEnable(userId) {
            var url = "{{ host }}/admin/participant/disableOrEnable/" + userId;
            App.disableOrEnable(url);
        }

    </script>

{% endblock %}