{% block campus_table %}

    <table
            id="campusTable"
            data-id-field="id"
            data-cache="false"
            class="display table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>{{ 'Campus'|trans }}</th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for campus in campusList %}
            <tr>
                <td id="campus{{ campus.id }}">{{ campus.nom }}</td>
                <td>
                    <button title="{{  "Modifier" | trans}}" class="campusActionsButtons" id="updateCampus{{ campus.id }}" campusName="{{ campus.nom }}" onclick="showInputCampus({{ campus.id }})"><span id="iconUpdate{{ campus.id }}"><i class="fas fa-edit"></i></span></button>
                    <button title="{{  "Supprimer" | trans}}" class="campusActionsButtons" id="deleteCampus" onclick="deleteCampus({{ campus.id }})"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <form id="formAddCampus" method="post">
                    <input type="text" placeholder="Nouveau campus" name="campusName" />
                </form>
            </td>
            <td>
                <button type="submit" class="btn btn-light" onclick="addCampus()">Ajouter</button>

            </td>
        </tr>
        </tbody>
    </table>
    <form id="deleteFormCampus"><input type="hidden" name="campusId" id='campusId' value=""></form>

    <script type="text/javascript">

        var table = $('#campusTable');

        $(function () {
            table.bootstrapTable({});
        });

        //Apparition des inputs de modification
        function showInputCampus(campusId) {

            var campusName = $("#updateCampus"+campusId).attr('campusName');
            $('#campus'+campusId).html('   <form id="formModifCampus">\n' +
                '                    <input id="campusName" type="text" name="campusName" value="'+campusName+'"/>\n' +
                '                </form>');
            $('#iconUpdate'+campusId).html('<i class="fas fa-check-circle" onclick="updateCampus('+campusId+ ')"></i></i>');
        }

        //Suppression du campus
        function deleteCampus(campusId) {

            if (confirm("Etes-vous sûr(e) de vouloir supprimer ce campus ? Attention cela supprimera les participants et sorties associées.")) {
                App.actionCampus('delete', '{{ path('campus_manage', {'action':'delete', 'id':0}) }}', campusId);
            }
        }

        //Modification du campus
        function updateCampus(campusId) {
           $("#updateCampus"+campusId).attr('campusName', '');
           //NB : le path ne fonctionne pas ici, on peut pas mettre une variable JS dedans
            var url = "{{ host }}/campus/manage/update/" + campusId;
            App.actionCampus('update', url, campusId);
        }

        //Ajout du campus
        function addCampus(){
            App.actionCampus('add', '{{ path('campus_manage', {'action':'add', 'id':0}) }}');
        }

    </script>


{% endblock %}