{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - {{ 'Campus' |trans }}{% endblock %}

{% block main %}
    <p class="filterTitle d-md-block d-none">{{ "Filtrer les sites" | trans }}</p><br>
    <form class="row" id="formFilters" action="{{ path('campus_list') }}" method="post">
        <label class="col-lg-2 col-md-3 col-form-label" for="search">{{ "Le nom contient" |trans }}: </label>
        <input type="search" class="col-lg-4 col-md-3 form-control" id='search' name="name" value="{% if campusName != '' %}{{ campusName }}{% endif %}"/><br>
        <button class="btn btn-secondary col-lg-2 col-md-3" id='btnSearchCampus'  type="submit">{{ "Rechercher" | trans }}</button>
    </form><br>

    <!--Tableau des sorties (mis dans un block à part comme ça peut recharger uniquement le tableau après mes actions en AJAX-->
    <div id="tableCampus">
        {{ block("campus_table", "campus/list_table.html.twig") }}
    </div>

{% endblock %}