@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

/**
global styles
 */

body {
    margin: 0;
    font-family: "Lato", serif !important;
}


a {
    color: #000 !important;
    text-decoration: underline !important;
}

a:hover {
    text-decoration: underline;
}

/**
header
 */
.logo {
    width: 40%;
    /*width:35%*/ /* SI LOGO2*/
    display: block;
    margin-right: 5px;
}

header nav ul {
    margin: 5px 0;
    display: flex;
    list-style: none;
    padding-left: 0;
}

header nav a {
    display: block;
    padding: 5px 8px;
    margin-right: 10px;
    text-decoration: none !important;
}

header nav a:hover {
    font-weight: bold;
}

.btnLocale {
    padding: 0 !important;
}

.btnLocale a {
    margin: 0 !important;
}

.divLocale {
    margin-left: 40%;
}

.divLocaleWithMenu {
    margin-left: 0 !important;
    margin-top: -3%;
}

/**
Sorties
 */

.filters {
    font-size: 15px !important;
}

#sortiesTable {
    font-size: 15px !important;
}

.createSortieBtn {
    margin: 2% 0;

}

.createSortieBtn a {
    text-decoration: none !important;
}

.form-control {
    height: inherit;
    font-size: 15px !important;
}

#btnSearchSorties {
    margin-bottom: 10%;
}

.inputDisabled {
    background-color: transparent !important;
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Firefox */
.detailSortieForm input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
.detailSortieForm input::-webkit-inner-spin-button,
.detailSortieForm input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pseudoTitle {
    margin-right: 46%;
    margin-bottom: 2%;
}

.detailSortieTitle {
    text-align: center;
    margin-bottom: 5%;
}

.subscribedPeople {
    margin-top: 3%;
}

#tableSubscribedPeopleTitle {
    font-size: 17px;
}

/**
Lieu
 */

.lieuForm, .btnAddLieu {
    margin: 0 auto;
    width: 40%;
}

.lieuTitle {
    text-align: center;
}

#sortie_lieu {
    margin-left: 11%;
}
.inputLieu{
    margin-left: 0 !important;
}
.btnActions {
    cursor: pointer;
}

/**
main
 */

.deleteButton {
    background-color: #FFFFFF;
    border: none;
}
.containerCustom {
    max-width: 75% !important;
}

.selectUser {
    width: 30% !important;
    margin-bottom: 2%;
}

.btnBack {
    text-decoration: none !important;
}

.detailDeleteForm {
    display: flex !important;
}

.divError {
    margin-top: 3% !important;
}

.navbar {
    padding: 0 !important;
}

/**
footer
 */
footer {
    padding: 20px 0;
    text-align: center;
}

/**
Sorties
 */

.infoDateAndUser {
    /*float: right;*/
    padding: 0;
    font-size: 15px !important;
}

.cancelLink {
    text-decoration: none !important;
}

.actionButtons {
    margin-top: 3%;
}

/**
Form
 */

.loginForm {
    width: 40%;
    margin: 10% auto;
}

.updateProfileForm h4, .sortieForm h4 {
    text-align: center !important;
}

.profilePicture {
    margin-top: 2%;
}

.updateProfileForm .form-group, .sortieForm .form-group {
    display: flex;
}

.lieuForm label{
    width: 100% !important;
}
.updateProfileForm label, .sortieForm label {
    width: 50%;
}

.formTitle {
    text-align: center !important;
}

.labelForm {
    line-height: 35px;
}

.filterTitle {
    text-decoration: underline;
    font-size: 17px;
}

.custom-file > label {
    width: 100% !important;
}

.sendPassButton {
    margin: 0 auto !important;
    display: block !important;
}

.form-error-message {
    font-size: 13px !important;
    font-weight: bold !important;
}

.divRememberPass {
    display: block !important;
    margin-left: 9% !important;

}

.connectBtn {
    padding: 0;
    /*  background-color: #7ce6d7 !important;
      color: black !important;*/
}

/*.alert-success, .alert-danger {
    padding: 1% !important;
    max-width: 50% !important;
    margin: 1% auto !important;
}*/
.flash-success, .flash-danger {
    padding: 1% !important;
    max-width: 50% !important;
     margin: 1% auto 3% auto !important;
/* margin: 1% auto;;*/
 text-align: center;
}

.updateProfileForm .alert-danger {
 max-width: 100% !important;
 margin-bottom: 7% !important;
 padding: 2% !important;
}

li {
 margin: 1% 0 !important;
}

input {
 font-family: 'Lato', serif !important;
}

.tableMyIdeas {
 padding-bottom: 0 !important;
}

.forgotPass {
 font-size: 13px !important;
}

.headerNav {
 max-width: 80%;
 padding: 0 !important;
}

.btn-light {
 border: 1px solid gray !important;
}

.btn-light a {
 text-decoration: none !important;
}

/**
Gestion participants
*/

#tableParticipant {

}

.titleUserManager {
    text-align: center;
}

.deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.btnAddCsv{

}

#formCsv input{
    margin-bottom: 3%;
}
.formAddUser{

}

/**
Gestion des lieux
 */

#btnSearchCampus{
    margin-left:2%;
}

.campusActionsButtons{
    background-color: transparent !important;
    border: none;
    cursor: pointer;
}
/**
Responsive
 */


@media (min-width: 1000px) and (max-width: 1300px) {
    .loginForm {
        width: 60% !important;
    }
    .lieuForm{
        margin: 0 auto;
        width: 80% !important;
    }

    .containerCustom{
        max-width: 90% !important;
    }

}
@media (min-width: 800px) and (max-width: 1000px) {
    .ideaForm {
        width: 100% !important;
    }

    .logo {
        width: 65% !important;
    }

    .loginForm {
        width: 53% !important;
    }
    .containerCustom{
        max-width: 90% !important;
    }
}
@media (min-width: 500px)  and (max-width: 800px) {

    body, ::placeholder {
        font-size: 14px !important;
    }

    .ideaForm {
        width: 100% !important;
    }

    .headerNav {
        max-width: 73%;
    }

    .loginForm {
        width: 80% !important;
    }

    .divConnectBtn {
        width: inherit !important;

    }

    .divLoginBottom {
        margin-top: 10% !important;
    }

    .logo {
        width: 60% !important;
    }
}

@media (max-width: 500px) {

    label, p,.detailSortieForm, .subscribedPeople{
        font-size: 13px !important;
    }
    .logo {
        width: 60% !important;
    }
    .loginForm {
        width: 95% !important;
    }
    .loginForm .form-group {
        display: flex;
    }
    .containerCustomSmallScreen{
        width: 100% !important;
    }
    .form-control{
        height: 30px !important;
    }

    .divRememberPass{
        margin-left: 28% !important;
    }

    .filterTitle{
        font-size: 16px !important;
    }
    #sortiesTable{
        font-size: 12px !important;
    }

}
