{% extends 'sortie/layout_actions_sortie.html.twig' %}

{% block title %}{{ parent() }} - {{ 'Créer une sortie'|trans }}{% endblock %}

{% block dateDebut %}{% if selectedValues %} {{ form_row(sortieForm.date_debut, {value: selectedValues.dateDebut|date('d/m/Y H:i') }) }}{% else %}{{ form_row(sortieForm.date_debut, {value: "now +1 day 09:00" |date('d/m/Y H:i')}) }}{% endif %}{% endblock %}
{% block dateCloture %}{% if selectedValues %} {{ form_row(sortieForm.date_cloture, {value: selectedValues.dateCloture |date('d/m/Y')}) }}{% else %}{{ form_row(sortieForm.date_cloture, {value: "now" |date('d/m/Y 23:59:59' )}) }}{% endif %}{% endblock %}
{% block nbplace %} {% if selectedValues %} {{ form_row(sortieForm.nb_inscriptions_max, {value: selectedValues.nbInscriptionsMax }) }}{% else %}{{ form_row(sortieForm.nb_inscriptions_max, {value:1}) }}{% endif %} {% endblock %}
{% block duree %} {% if selectedValues %} {{ form_row(sortieForm.duree, {value: selectedValues.duree }) }}{% else %}{{ form_row(sortieForm.duree, {value: 15}) }}{% endif %}{% endblock %}
{% block ville %} {{ form_row(sortieForm.ville) }}{% endblock %}

{% block ajoutLieu %}<a><button id="btnAddLieuFromAdd" type="button" class="btn btn-sm btn-dark"><i class="fas fa-plus-circle"></i></button> </a>{% endblock %}

{% block actionButtons %}
    <button class="btn btn-light offset-md-1  col-md-3" name="btnSubmit"
            value="save">{{ 'Enregistrer' |trans }}</button>
    <button class="btn btn-light col-md-3" name="btnSubmit" value="publish">{{ 'Publier' |trans }}</button>
    <a class="btn btn-light col-md-3 cancelLink" href="{{ path('sortie_list') }}">{{ 'Annuler' |trans }}</a>
{% endblock %}


