{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - {{ 'Annuler une sortie' | trans}}{% endblock %}
{% block main %}
    <div class="lieuForm">
        <h4 class="lieuTitle">{{ 'Annuler une sortie' | trans }}</h4><br>
        <div class="updateProfileForm cancelForm">
           <form id='cancelForm' method="post" action="{{ path('sortie_cancel', {'id': sortie.id}) }}">
                <div class="form-group row">
                    <label class="labelForm col-md-4 col-sm-8" for="username">{{ 'Nom de la sortie' |trans }}</label>
                    <input type="text" class="form-control inputDisabled col-lg-8 col-md-7" value="{{ sortie.nom }}">
                </div>
                <div class="form-group row">
                    <label class="labelForm col-md-4 col-sm-8" for="date">{{ 'Date de la sortie'|trans }}</label>
                    <input type="text" class="form-control inputDisabled col-lg-8 col-md-7" id="date"
                           value="{{ sortie.dateDebut | date('d/m/Y') }}">
                </div>
                <div class="form-group row">
                    <label class="labelForm col-md-4 col-sm-8" for="campus">{{ 'Campus'|trans }}</label>
                    <input type="text" class="form-control inputDisabled col-lg-8 col-md-7" id="campus"
                           value="{{ sortie.campus.nom }}">
                </div>
                <div class="form-group row">
                    <label class="labelForm col-md-4 col-sm-8" for="lieu">{{ 'Lieu'|trans }}</label>
                    <input type="text" class="form-control inputDisabled col-lg-8 col-md-7" id="lieu"
                           value="{{ sortie.lieu.nom }} {{ sortie.lieu.rue }} {{ sortie.lieu.ville.codepostal }} {{ sortie.lieu.ville.nom }}">
                </div>
                <div class="form-group row">
                    <label class="labelForm col-md-4 col-sm-8" for="motif">{{ 'Motif'|trans }}</label>
                    <textarea class="form-control col-lg-8 col-md-7" id="motif" name="motif"></textarea>
                </div>

                <div class="mt-5">
                    <button class="btn btn-light btnAddLieu">{{ 'Enregistrer' |trans }}</button>
                    <a class="btn btn-light btnAddLieu btnBack" href="{{ path('sortie_list') }}">{{ 'Annuler' |trans }}</a>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">

        $("#motif").keypress(function (e) {
            var key = e.which;
            if(key === 13)  {
                $('#cancelForm').submit();
                return false;
            }
        });
    </script>
{% endblock %}