{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - {{ 'Détails de la sortie' | trans}}{% endblock %}

{% block main %}
    <h4 class="detailSortieTitle d-md-block d-none">{{ 'Afficher une sortie'|trans }}</h4>
    <div class="sortieForm row detailSortieForm">
        <div class="col-md-6">
            <div class="row mt-3 ">
                <div class="col-5"><b>{{ 'Nom'|trans }} :</b></div>
                <div class="col-5">{{ sortie.nom }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-5"><b>{{ 'Date et heure de la sortie'|trans }}:</b></div>
                <div class="col">{{ sortie.dateDebut | date('d/m/Y H:i') }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-5"><b>{{ 'Date limite d\'inscription' |trans }}:</b></div>
                <div class="col">{{ sortie.dateCloture | date('d/m/Y') }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-5"><b>{{ 'Nombre de places' |trans }}:</b></div>
                <div class="col">{{ sortie.nbInscriptionsMax }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-5"><b>{{ 'Durée' |trans }} :</b></div>
                <div class="col">{{ sortie.duree }} minutes</div>
            </div>
            <div class="row mt-3">
                <div class="col-5"><b>{{ 'Description et infos' |trans }}: </b></div>
                <div class="col">{{ sortie.description }}</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mt-3">
                <div class="col-5"><b>{{ 'Campus' |trans }}:</b></div>
                <div class="col">{{ sortie.campus.nom }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-5"><b>{{ 'Lieu' |trans }}: </b></div>
                <div class="col">{{ sortie.lieu.nom }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-5"><b>{{ 'Rue' |trans }}:</b></div>
                <div class="col">{{ sortie.lieu.rue }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-5"><b>{{ 'Code postal' |trans }}:</b></div>
                <div class="col">{{ sortie.lieu.ville.nom }} - {{ sortie.lieu.ville.codePostal }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-5"><b>{{ 'Latitude' |trans }}:</b></div>
                <div class="col">{{ sortie.lieu.latitude }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-5"><b>{{ 'Longitude' |trans }}:</b></div>
                <div class="col">{{ sortie.lieu.longitude }}</div>
            </div>
            {%  if sortie.motifAnnulation %}
                <div class="row mt-3">
                    <div class="col-5"><b>{{ 'Motif Annulation' |trans }}:</b></div>
                    <div class="col">{{ sortie.motifAnnulation}}</div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row subscribedPeople">
        <div class="col-lg-4 col-md-6">
            <p id="tableSubscribedPeopleTitle" class="mb-3">{{ 'Liste des participants inscrits' |trans }} :</p>
            {% if sortie.inscriptions | length > 0 %}
                <table class="table table-striped mb-10 d-md-inline d-none">
                    <thead>
                    <tr>
                        <th>{{ 'Pseudo' |trans }}</th>
                        <th>{{ 'Nom' |trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for inscription in sortie.inscriptions %}
                        <tr>
                            <td><a href="{{ path('participant_details', {'id': inscription.participant.id, 'fromPage': 'detailSortie', 'sortieId': sortie.id}) }}">{{ inscription.participant.pseudo }}</a></td>
                            <td ><a href="{{ path('participant_details', {'id': inscription.participant.id,'fromPage': 'detailSortie', 'sortieId': sortie.id})  }}">{{ inscription.participant.prenom }} {{ inscription.participant.nom }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table table-striped mb-10 d-md-none d-inline">
                    <thead>
                    <tr>
                        <th>{{ 'Nom' |trans }}</th>
                        <th>{{ 'Ville' |trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for inscription in sortie.inscriptions %}
                        <tr>
                            <td>{{ inscription.participant.prenom  }} {{ inscription.participant.nom }}</td>
                            <td>{{ inscription.participant.campus.nom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p><i>Aucun participant inscrit à ce jour</i></p>
            {% endif %}
        </div>
    </div>

{% endblock %}