{% extends 'layout.html.twig' %}

{% block main %}
    <h4 class="detailSortieTitle">{% block pageTitle %}{{ 'Créer une sortie'|trans }}{% endblock %}</h4>
    <div class="sortieForm updateProfileForm row">

        <div class="col-md-6">
            {{ form_start(sortieForm) }}
            {% if selectedValues %} {{ form_row(sortieForm.nom, {value: selectedValues.nom }) }}{% else %}{{ form_row(sortieForm.nom)}}{% endif %}
            {% block dateDebut %}{% endblock %}
            {% block dateCloture %}{% endblock %}
            {% block nbplace %}{% endblock %}
            {% block duree %}{% endblock %}
            {% if selectedValues %} {{ form_row(sortieForm.description, {value: selectedValues.description }) }}{% else %}{{ form_row(sortieForm.description)}}{% endif %}
        </div>
        <div class="col-md-6">
            {% if selectedValues %}{{ form_row(sortieForm.campus, {value: selectedValues.campus }) }} {% else %}  {{ form_row(sortieForm.campus) }}{% endif %}
            {% block ville %}{% endblock %}
            <div class="row">
                <div class="col-md-10">
                    {{ form_row(sortieForm.lieu) }}
                </div>
                <div class="col-md-1">
                    {% block ajoutLieu %}{% endblock %}
                </div>
            </div>
            <div id="infosLieu"></div>

        </div>
        <div class="col-md-12 actionButtons">
            {% block actionButtons %}{% endblock %}
        </div>
        {{ form_end(sortieForm) }}
    </div>

    {% block js %}
    <script type="text/javascript">

        $(function (){
           $('#sortie_date_debut').datetimepicker({format: 'DD/MM/YYYY HH:mm'});

            //Si des données ont déjà été saisies on les récupère et on alimente les inputs
            //Dans le but d'éviter de ressaisir les données (utile quand on revient de la page de création d'un lieu)
            var data = JSON.parse(localStorage.getItem('data'));

            if(data != null) {
                $('#sortie_nom').val(data.nom);
                $('#sortie_date_debut').val(data.dateDebut);
                $('#sortie_date_cloture').val(data.datecloture);
                $('#sortie_nb_inscriptions_max').val(data.nbplace);
                $('#sortie_duree').val(data.duree);
                $('#sortie_description').val(data.description);
                $('#sortie_campus').val(data.campus);
                $('#sortie_ville').val(data.ville);
                $('#sortie_lieu').val(data.lieu);
            }

            //Au click sur une ville on fait apparaître les lieux qui y sont liés dans le select en dessous
            $('#sortie_ville').on('change click', function (){
                $('#infosLieu').empty();
                var ville = $('#sortie_ville').val();
                {#  var url = {{ path('sortie_get_lieu_select_values')}} + '/' + ville; #}
                var url = '{{ host}}/sortie/getLieuSelectValues/' + ville;
                App.hydrateSelectPlaces(url);
            });

            //Au changement d'un lieu on affiche les données liées
            $('#sortie_lieu').on('change click', function () {
                var lieuId = $('#sortie_lieu').val();
                if (lieuId !== "") {
                    var url = '{{ host }}' + '/sortie/displayInfosLieu/' + lieuId;
                    {# var url = '{{path('sortie_display_infos_lieu')}}/'+ lieuId; //Ne fonctionne pas comme ça #}
                    App.displayLieuInfos(url);
                }else{
                    $('#infosLieu').empty();
                }
            });

            //Quand on clique sur l'ajout d'un lieu on redirige vers le formulaire mais on enregistre avant
            //les données saisies afin de les garder en mémoire et pouvoir les ressortir ensuite
            $('#btnAddLieuFromAdd').on('click', function (){
                setInputsInLocalStorage();
                window.location.href="{{ path('lieu_add', {'fromPage':'create'}) }}";
            });

        });

        //Sauvegarde des inputs dans le localStorage afin de les ressortir pour éviter de les répéter
        function setInputsInLocalStorage(){
            var nom = $('#sortie_nom').val();
            var datedebut = $('#sortie_date_debut').val();
            var datecloture = $('#sortie_date_cloture').val();
            var nbplace = $('#sortie_nb_inscriptions_max').val();
            var duree = $('#sortie_duree').val();
            var description = $('#sortie_description').val();
            var campus = $('#sortie_campus').val();
            var ville = $('#sortie_ville').val();
            var lieu = $('#sortie_lieu').val();
            var data = {'nom': nom, 'dateDebut': datedebut, 'datecloture':datecloture, 'nbplace':nbplace, 'duree':duree, 'description':description, 'campus':campus, 'lieu':lieu, 'ville':ville};
            localStorage.setItem('data', JSON.stringify(data));
        }
    </script>
{% endblock %}
{% endblock %}
