{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - {{ 'Accueil' |trans }}{% endblock %}

{% block main %}
    <div class="infoDateAndUser offset-md-9 col-lg-3 col-md-5 d-none d-md-block d-lg-block">
        <b>{{ 'Date du jour' |trans }} : {{ "now" |date('d/m/Y') }}</b><br>
        <b>{{ 'Participant' |trans }} : {{ app.user.prenom }} {{ app.user.nom | slice(0,1) }}.</b>
    </div>
    <div class="">
        <p class="filterTitle d-md-block d-none">{{ "Filtrer les sorties" | trans }}</p><br>
        <p class="filterTitle d-md-none d-block">Mes sorties : </p><br>

        <form class="d-md-block d-none" id="formFilters" action="{{ path('sortie_list') }}" method="post">
            <div class="filters row">
                <div class="leftFilters col-lg-6 col-md-12">
                    <!--CHOIX CAMPUS-->
                    <div class="form-group row">
                        <label class="col-md-6  col-form-label" for="campus">Campus</label>
                        <select class="col-md-4 form-control" id='campus' name="campus">
                            {% if listCampus %}
                                {% for campus in listCampus %}
                                    <option value="{{ campus.id }}" {% if selectedValues.campus == campus.id %} selected{% endif %}>{{ campus.nom }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <!--RECHERCHE NOM CONTIENT-->
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label" for="search">{{ "Le nom de la sortie contient" |trans }}
                            : </label>
                        <input type="search" class="col-md-4 form-control" id='nom' name="nom"
                               value="{{ selectedValues.nom }}"/>
                    </div>
                    <!--RECHERCHE DATES-->
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="search">{{ "Entre" |trans }}</label>
                        <input type="date" class="col-md-3 form-control" id='date_debut' name="date_debut"
                               value="{{ selectedValues.date_debut }}"/>

                        <label class="col-md-2 col-form-label" for="search">{{ "et" |trans }}</label>
                        <input type="date" class="col-md-3 form-control" id='date_cloture' name="date_fin"
                               value="{{ selectedValues.date_fin }}"/>
                    </div>
                </div>
                <!--CONDITIONS SUR ETAT SORTIES-->
                <div class="rightFilters col-lg-4 col-md-10">
                    <div>
                        <input type="checkbox" id='orga'
                               name='isOrganizer' {% if selectedValues.isOrganizer %} checked{% endif %}/>
                        <label for="orga">{{ "Sorties dont je suis l'organisateur.trice" | trans }}</label>
                    </div>
                    <div>
                        <input type="checkbox" id='register'
                               name='isRegistered' {% if selectedValues.isRegistered %} checked{% endif %}/>
                        <label for="register">{{ "Sorties auxquelles je suis inscrit.e" | trans }}</label>
                    </div>
                    <div>
                        <input type="checkbox" id='nonRegistered'
                               name='isNotRegistered' {% if selectedValues.isNotRegistered %} checked{% endif %}/>
                        <label for="nonRegistered">{{ "Sorties auxquelles je ne suis pas inscrit.e" | trans }}</label>
                    </div>
                    <div>
                        <input type="checkbox" id='passedOutings'
                               name='passedOutings' {% if selectedValues.passedOutings %} checked{% endif %}/>
                        <label for="passedOutings">{{ "Sorties passées" | trans }}</label>
                    </div>
                </div>
                <!--BOUTON DE RECHERCHE-->
                <div class="col-md-1 divBtnFilters">
                    <div class="row">
                        <button class="btn btn-primary" id='btnSearchSorties'
                                type="submit">{{ "Rechercher" | trans }}</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-light" id="btnReinit"
                                type="submit">{{ "Réinitialiser" | trans }}</button>
                    </div>
                </div>
            </div>
        </form>
        <!--Tableau des sorties-->
        <div id="tableBlock">
            {{ block("sorties_table", "sortie/list_table.html.twig") }}
        </div>
        <div class="createSortieBtn d-md-block d-none">
            <a class="btn btn-light" href="{{ path('sortie_add') }}">{{ "Créer une sortie" | trans }}</a>
        </div>

    </div>

    <script type="text/javascript">

        $(function () {
            //On réinitialise les données saisies du formulaire de création/modif d'une sortie
            //Qu'on utilisait pour éviter la ressaisie après l'ajout d'un lieu
            localStorage.removeItem('data');
            adaptIHM();

        });
        $(window).resize(function () {
            adaptIHM();
        });

        //Adaptation de l'IHM en fonction de la taille de l'écran
        function adaptIHM() {
            const iWindowsSize = $(window).width();
            if (iWindowsSize < 500) {
                $('#identifiantLabel').html('Mail');
                $('#passLabel').html('Password');
                $('.test').removeClass('row');
                $('#containerCustom').removeClass('containerCustom');
                $('#containerCustom').addClass('containerCustomSmallScreen');
                $('.connectBtn').addClass('btn-sm');

                table.bootstrapTable('hideColumn', 'date_cloture');
                table.bootstrapTable('hideColumn', 'nb_places');
                table.bootstrapTable('hideColumn', 'etat');
                table.bootstrapTable('hideColumn', 'inscrit');
                table.bootstrapTable('hideColumn', 'orga');
                table.bootstrapTable('hideColumn', 'actions');
                table.bootstrapTable('hideColumn', 'nom_sortie_large_screen');
                table.bootstrapTable('showColumn', 'nom_sortie_small_screen');
                table.bootstrapTable('showColumn', 'lieu');

                $('.pagination-info').hide();

            } else if(iWindowsSize > 500){
                $('#identifiantLabel').html('Identifiant');
                $('.test').addClass('row');
                $('#passLabel').html('Mot de passe');
                $('.connectBtn').removeClass('btn-sm');
                $('#containerCustom').addClass('containerCustom');
                $('#containerCustom').removeClass('containerCustomSmallScreen');

                table.bootstrapTable('showColumn', 'date_cloture');
                table.bootstrapTable('showColumn', 'nb_places');
                table.bootstrapTable('showColumn', 'etat');
                table.bootstrapTable('showColumn', 'inscrit');
                table.bootstrapTable('showColumn', 'orga');
                table.bootstrapTable('showColumn', 'actions');
                table.bootstrapTable('hideColumn', 'lieu');
                table.bootstrapTable('hideColumn', 'nom_sortie_small_screen');
                table.bootstrapTable('showColumn', 'nom_sortie_large_screen');
                $('.pagination-info').show();
            }
        }
    </script>
{% endblock %}