{% block sorties_table %}

    <table
            id="sortiesTable"
            data-pagination="true"
            data-page-size="20"
            data-id-field="id"
            data-cache="false"
            class="display table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th  data-field="nom_sortie_large_screen">{{ 'Nom de la sortie'|trans }}</th>
            <th  data-field="nom_sortie_small_screen">{{ 'Nom de la sortie'|trans }}</th>
            <th>{{ 'Date de la sortie'|trans }}</th>
            <th  data-field="date_cloture">{{ 'Clôture'|trans }}</th>
            <th  data-field="nb_places">{{ 'Inscrits/places'|trans }}</th>
            <th  data-field="etat">{{ "Etat"|trans }}</th>
            <th  data-field="inscrit">{{ 'Inscrit'|trans }}</th>
            <th  data-field="orga">{{ 'Organisateur'|trans }}</th>
            <th  data-field="actions">{{ 'Actions'|trans }}</th>
            <th  data-field="lieu">{{ 'Lieu'|trans }}</th>

        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                {# On détermine si l'utilisateur courant y est inscrit #}
                {% set isRegistered = "" %}
                {% for inscription in sortie.inscriptions %}
                    {% if inscription.participant.id == app.user.id %}
                        {% set isRegistered ="X" %}
                    {% endif %}
                {% endfor %}
                <td >{{ sortie.nom }}</td>
                <td ><a href="{{ path('sortie_details', {'id': sortie.id}) }}">{{ sortie.nom }}</a></td>
                <td>{{ sortie.dateDebut | date("d/m/Y H:i") }}</td>
                <td>{{ sortie.dateCloture | date("d/m/Y") }}</td>
                <td>{{ sortie.inscriptions |length }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ isRegistered }}</td>
                <td>
                    <a href="{{ path('participant_details', {'id':sortie.organisateur.id, 'sortieId':sortie.id, 'fromPage':'sortie_list'}) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom | slice(0,1) }}.</a></td>
                <td>
                    {# Bouton de détail d'une sortie => apparaît à partir du moment où la sortie a été publiée #}
                    {% if sortie.etat.id == 1 and  app.user == sortie.organisateur %}
                    {% else %}
                        <a href="{{ path('sortie_details', {'id': sortie.id}) }}" class="btn-sm  btn-light" title="{{ 'Information' | trans }}"><i class="fas fa-info-circle"></i></a>
                    {% endif %}

                    {# Si on est l'organisateur et que la sortie n'est pas encore passée #}
                    {% if app.user == sortie.organisateur and sortie.etat.id == 1%}
                        {# Bouton de modification d'une sortie #}
                        <a href="{{ path('sortie_update', {'id': sortie.id}) }}" class="btn-sm btn-light"  title="{{ 'Modifier' | trans }}"> <i class="far fa-edit"></i></a>
                        {# Si pas encore publié on peut la publier #}
                        {% if sortie.etat.id == 1 %}
                    {#   <a href="{{path('sortie_publish', {'id': sortie.id}) }}" class="btn-sm btn-outline-success" title="{{ 'Publier' | trans }}"><i class="fas fa-check-circle"></i></a>#}
                            <a id='btnPublish' onclick='publish({{ sortie.id}})' class=" btnActions btn-sm btn-light" title="{{ 'Publier' | trans }}"><i class="fas fa-check-circle"></i></a>
                        {% endif %}
                    {% endif %}
                    {# Si on est l'organisateur ou qu'on est administrateur on peut décider d'annuler une sortie (seulement si état ouverte ou clôturéé#}
                    {% if app.user == sortie.organisateur or is_granted('ROLE_ADMIN')%}
                        {% if sortie.etat.id == 2 or sortie.etat.id == 3%}
                    {#     <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}" class=" btn-sm btn-outline-danger" title="{{ 'Annuler' | trans }}"><i class="far fa-window-close"></i></a>#}
                            <a href="{{ path('sortie_cancel_form', {'id': sortie.id}) }}" class="btnActions btn-sm  btn-light" title="{{ 'Annuler' | trans }}"><i class="far fa-window-close"></i></a>

                        {% endif %}
                    {% endif %}

                    {# Si user inscrit et que la sortie n'a pas débuté on donne la possibilité de se désister #}
                    {% if isRegistered and date(sortie.dateDebut)> date("now") %}
                    {#  <a id='btnQuit' href="{{ path('sortie_quit', {'id': sortie.id}) }}" class=" btn-sm btn-outline-warning" title="{{ 'Se désister' | trans }}"> <i class="fas fa-sign-out-alt"></i></a>#}
                        <a id='btnQuit' onclick="unsubscribe({{ sortie.id }})" class="btnActions btn-sm btn-light" title="{{ 'Se désister' | trans }}"> <i class="fas fa-sign-out-alt"></i></a>
                    {% endif %}
                   {# Sinon s'il n'est pas inscrit, qu'il reste des places, que la date de clôture n'est pas atteinte et que la sortie est ouverte on propose de s'inscrire #}
                    {% if not isRegistered and sortie.inscriptions|length < sortie.nbInscriptionsMax and date(sortie.dateCloture)> date('now') and sortie.etat.id == 2 %}
                        {#    <a  id='btnSubscribe' href="{{ path('sortie_subscribe', {'id': sortie.id}) }}" class=" btn-sm btn-outline-success"  title="{{ "S'inscrire" | trans }}"> <i class="fas fa-sign-in-alt"></i></a>#}
                    <a  id='btnSubscribe' onclick="subscribe({{ sortie.id }})" class="btnActions btn-sm  btn-light"  title="{{ "S'inscrire" | trans }}"> <i class="fas fa-sign-in-alt"></i></a>
                    {% else %}
                    {% endif %}
                </td>
                <td>{{ sortie.lieu.ville.nom | upper }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">

        var table = $('#sortiesTable');

        $(function () {
            table.bootstrapTable({});

            //Réinitialisation des filtres avec ceux par défaut
            $('#btnReinit').on('click', function () {
                $('#campus').val({{ app.user.campus.id }});
                $('#nom').val('');
                $('#date_debut').val('');
                $('#date_cloture').val('');
                $('#orga').prop("checked", true);
                $('#register').prop("checked", true);
                $('#nonRegistered').prop("checked", true);
                $('#passedOutings').prop("checked", false);
                $("#formFilters").submit();
            })

        });
        function subscribe(sortieId){
            {#  var url = '{{ path('sortie_subscribe') }}' + '/' + sortieId;#}
            var url = '{{host}}/sortie/subscribe/'+ sortieId;
           // App.subscribe(url);
            App.actionSortie(url);

        }
        function unsubscribe(sortieId){
            {#  var url = '{{ path('sortie_quit') }}' + '/' + sortieId;#}
            var url = '{{host}}/sortie/quit/'+ sortieId;
            App.actionSortie(url);
        }
        function publish(sortieId){
            {#  var url = '{{ path('sortie_publish') }}' + '/' + sortieId;#}
            var url = '{{host}}/sortie/publish/'+ sortieId + '/' + true;
            App.actionSortie(url);
        }
    </script>

{% endblock %}