{% extends 'sortie/layout_actions_sortie.html.twig' %}

{% block pageTitle %}{{ 'Modifier une sortie'|trans }}{% endblock %}
{% block dateDebut %} {% if selectedValues %}{{ form_row(sortieForm.date_debut, {value: selectedValues.dateDebut|date('d/m/Y H:i') }) }}{% else %}{{ form_row(sortieForm.date_debut)}}{% endif %}{% endblock %}
{% block dateCloture %}{% if selectedValues %}{{ form_row(sortieForm.date_cloture, {value: selectedValues.dateCloture |date('d/m/Y')}) }}{% else %}{{ form_row(sortieForm.date_cloture )}}{% endif %}{% endblock %}
{% block nbplace %} {% if selectedValues %} {{ form_row(sortieForm.nb_inscriptions_max, {value: selectedValues.nbInscriptionsMax }) }}{% else %}{{ form_row(sortieForm.nb_inscriptions_max)}}{% endif %} {% endblock %}
{% block duree %} {% if selectedValues %} {{ form_row(sortieForm.duree, {value: selectedValues.duree }) }}{% else %}{{ form_row(sortieForm.duree)}}{% endif %}{% endblock %}

{% block ajoutLieu %}  <a><button id="btnAddLieuFromUpdate" type="button" class="btn btn-sm btn-dark"><i class="fas fa-plus-circle"></i></button></a>{% endblock %}
{% block ville %} {{ form_widget(sortieForm.ville, {'attr': {'class': 'd-none'}}) }}{% endblock %}

{% block title %}{{ parent() }} - {{ 'Modifier une sortie'|trans }}{% endblock %}
{% block actionButtons %}
    <input type="hidden" value="{{ sortie.id }}" name="sortieId"> <!--Champs caché avec l'id de la sortie à supprimer-->
    <button class="btn btn-light offset-2 col-md-2" name="btnSubmit" value="save">{{ 'Enregistrer' |trans }}</button>
    <button class="btn btn-light col-md-2"  name="btnSubmit" value="publish">{{ 'Publier' |trans }}</button>
    <button class="btn btn-light col-md-2" name="btnSubmit" value="delete">{{ 'Supprimer' |trans }}</button>
    <a  class="btn btn-light col-md-2 btnBack" href="{{ path('sortie_list') }}">{{ 'Annuler' |trans }}</a>
{% endblock %}

{% block js %}
{{ parent() }}
    <script type="text/javascript">
        $(function (){

            //A l'arrivée sur la page on hydrate l'input lieu en fonction de la ville de la sortie
            App.hydrateSelectPlaces('{{ path('sortie_get_lieu_select_values', {'id':sortie.lieu.ville.id}) }}');

            $('#btnAddLieuFromUpdate').on('click', function (){
                setInputsInLocalStorage();
                window.location.href="{{ path('lieu_add', {'fromPage':'update', 'sortieId': sortie.id}) }}";
            });

        });
    </script>
{% endblock %}