{% block villes_table %}

    <table
            id="villesTable"
            data-id-field="id"
            data-cache="false"
            class="display table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>{{ 'Ville'|trans }}</th>
            <th>{{ 'Code postal'|trans }}</th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for ville in villesList %}
            <tr>
                <td id="ville{{ ville.id }}">{{ ville.nom }}</td>
                <td id="cp{{ ville.id }}">{{ ville.codePostal }}</td>
                <td>
                    <button title="{{  "Modifier" | trans}}" class="campusActionsButtons" villeName="{{ ville.nom }}" cp="{{ ville.codepostal }}" id="updateVille{{ ville.id }}" onclick="showInputVille({{ville.id }})"><span id="iconUpdate{{ ville.id }}" ><i class="fas fa-edit"></i></span></button>
                    <button title="{{  "Supprimer" | trans}}" class="campusActionsButtons" id="deleteVille" onclick="deleteVille({{ ville.id }})"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            {#     {{ form_start(villeForm) }} #}
            <td>
                {# {{ form_row(villeForm.nom) }} #}
               <form id="formAddNomVille" method="post">
                    <input type="text" placeholder="Nouvelle ville" name="addVilleName" id="villeName"/>
                </form>
            </td>
            <td>
                {# {{ form_row(villeForm.codepostal) }} #}

                <form id="formAddCPVille" method="post">
                    <input type="text" placeholder="{{ 'Code postal'|trans }}" name="addCp" id="cpName" />
                </form>
            </td>
            <td>
                <button type="submit" id='btnAddVille' class="btn btn-light" onclick="addVille()">Ajouter</button>
            </td>
            {#   {{ form_end(villeForm) }} #}

        </tr>
        </tbody>
    </table>
    <form id="deleteFormVille"><input type="hidden" name="villeId" id='villeId' value=""></form>

    <script type="text/javascript">

        var table = $('#villesTable');

        $(function () {
            table.bootstrapTable({});
        });

        //Apparition des inputs de modification
        function showInputVille(villeId) {
            var villeName = $("#updateVille"+villeId).attr('villeName');
            var cp = $("#updateVille"+villeId).attr('cp');

            $('#ville'+villeId).html('   <form id="formModifVille">\n' +
                '                    <input id="villeName" type="text" name="villeName" placeholder="Nom" value="'+villeName+'"/>' +
                '                ');
            $('#cp'+villeId).html('<input id="villeCp" type="text" name="villeCp" placeholder="Codepostal" value="'+cp+'"/>');
            $('#iconUpdate'+villeId).html('<i class="fas fa-check-circle" onclick="updateVille('+villeId+ ')"></i>');
        }

        //Suppression de la ville
        function deleteVille(villeId) {

            if (confirm("Etes-vous sûr(e) de vouloir supprimer cette ville ? Attention cela supprimera les lieux et sorties associées. ")) {
                {# // App.actionVilles('delete', '{{ path('ville_delete') }}', villeId); #}
                App.actionVilles('delete', '{{ path('ville_manage', {"action":"delete", 'id':0}) }}', villeId);
            }
        }
        //Modification de la ville
        function updateVille(villeId) {
            $("#updateVille"+villeId).attr('villeName', '');
            $("#updateVille"+villeId).attr('cp', '');

           // var url = "{{ host }}/ville/update/" + villeId;
          //  App.actionVilles('update', url);
            var url = "{{ host }}/ville/manage/update/" + villeId;
            App.actionVilles('update', url, villeId);
        }
        //Ajout de la ville
        function addVille(){
            {# App.actionVilles('add', '{{ path('ville_add') }}'); #}
            App.actionVilles('add', '{{ path('ville_manage', {"action":"add", 'id':0}) }}');
        }
    </script>


{% endblock %}