{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - {{ 'Villes' |trans }}{% endblock %}

{% block main %}

    <p class="filterTitle d-md-block d-none">{{ "Filtrer les villes" | trans }}</p><br>
    <form class="row" id="formFilters" action="{{ path('ville_list') }}" method="post">

        <label class="col-lg-2 col-md-3 col-form-label" for="search">{{ "Le nom contient" |trans }}: </label>
        <input type="search" class="col-lg-2 col-md-3 form-control" id='search' name="name" value="{% if villeName != '' %}{{ villeName }}{% endif %}"/><br>
        <button class="btn btn-secondary col-lg-2 col-md-3" id='btnSearchCampus'  type="submit">{{ "Rechercher" | trans }}</button>
    </form><br>

    <!--Tableau des sorties-->
    <div id="tableVilles">
        {{ block("villes_table", "ville/list_table.html.twig") }}
    </div>


{% endblock %}