<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Renouvellement du mot de passe</title>
</head>
<body>
<div class="row">
    <p>Bonjour {{ firstname}},</p>
    <p>Vous venez d'effectuer une demande de réinitialisation de mot de passe.<br>
     Veuillez cliquer sur ce lien pour : <a href="{{absolute_url(path('participant_update_password', {'token': token}))}}">changer votre mot de passe</a></p>

    <p>L'équipe de Sortir.com</p>
</div>
</body>
</html>
