<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap-table-1.17.1/dist/bootstrap-table.min.css') }}">

    <!--datepicker et datetimepicker CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha512-aEe/ZxePawj0+G2R+AaIxgrQuKT68I28qh+wgLrcAJOz3rxCP+TwrK5SPN+E5I+1IQjNtcfvb96HDagwrKRdBw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha512-aEe/ZxePawj0+G2R+AaIxgrQuKT68I28qh+wgLrcAJOz3rxCP+TwrK5SPN+E5I+1IQjNtcfvb96HDagwrKRdBw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
    <!--pnotify css-->
    <link rel="stylesheet" href="{{ asset('vendor/pnotify/dist/pnotify.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/pnotify/dist/pnotify.buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/pnotify/dist/pnotify.nonblock.css') }}">

    <!--Jquery -->
    <script src="{{ asset('vendor/jquery-1.12.14/jquery.min.js') }}"></script>

    <!--datepicker  et datetimepickerjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js" integrity="sha512-Izh34nqeeR7/nwthfeE0SI3c8uhFSnqxV0sI9TvTcXiFJkMd6fB644O64BRq2P/LA/+7eRvCw4GmLsXksyTHBg==" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <!--pnotify js-->
    <script src="{{ asset('vendor/pnotify/dist/pnotify.js') }}"></script>
    <script src="{{ asset('vendor/pnotify/dist/pnotify.buttons.js') }}"></script>
    <script src="{{ asset('vendor/pnotify/dist/pnotify.nonblock.js') }}"></script>

    <!--Font awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!--Librairie custom -->
    <script src="{{ asset('js/app.js') }}"></script>

    <title>{% block title %}Sortir.com{% endblock %}</title>
</head>
<body>
<div id='containerCustom' class="container containerCustom">
    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand headerNav col-md-6" href="#"> <img class="logo" src="{{ asset('img/logo.png') }}" alt="Logo"></a>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ville_list') }}">{{ 'Villes' |trans }}</a><hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('campus_list') }}">{{ 'Campus' |trans }}</a><hr>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('participant_manage', {'action': 'add'}) }}">{{ 'Participants' |trans }}</a><hr>
                        </li>
                    {% endif %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('sortie_list') }}">{{ 'Accueil' |trans }}<span class="sr-only">(current)</span></a><hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('participant_manage', {'action': 'update'}) }}">{{ 'Profil' |trans }}</a><hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">{{ 'Déconnexion' |trans }}</a><hr>
                    </li>
                </ul>
            </div>
            {% endif %}

           <div class="d-none d-sm-block {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}divLocaleWithMenu{% else %}divLocale{% endif %}">
            {% for locale in locales %}
                {% if locale != app.request.locale %}
                   <button class="btn btn-light btnLocale"><a href="{{ path('change_locale', {'locale': locale}) }}">{{ locale }}</a></button>
                {% endif %}
            {% endfor %}
           </div>

        </nav>

    </header>
    <main>
        {# Messages flash #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }} alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {# Fin Messages flash #}
        {% block main %}{% endblock %}
    </main>
</div>

<script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-table-1.17.1/dist/bootstrap-table.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-table-1.17.1/dist/locale/bootstrap-table-fr-FR.min.js') }}"></script>


<script type="text/javascript">


</script>
</body>
</html>
