{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Erreur</h1>
    <p>
    </p>
    <div class="container">
        <h4>Erreur Inconnue </h4>
        <div class="divError">
            <p> Une erreur inconnue est survenue.<br>Veuillez vous rapprocher de l'administrateur.</p>
            <p><a href="{{ path('login') }}">Retour à la page d'accueil</a></p>
        </div>
    </div>
{% endblock %}