{% extends 'layout.html.twig' %}

{% block main %}
    <div class="container">
        <h4>Erreur interne au serveur- Erreur  {{ status_code }} </h4>
        <div class="divError">
            <p> Nous sommes désolés, un problème est survenu au niveau de notre serveur.<br>
                Veuillez vous rapprocher de l'administrateur pour éclaircir le problème.</p>

            <p><a href="{{ path('login') }}">Retour à la page d'accueil</a></p>
        </div>
    </div>
{% endblock %}