{% extends 'layout.html.twig' %}

{% block main %}
    <div class="container">
    <h4>Page non trouvée - Erreur  {{ status_code }} </h4>
    <div class="divError">
        <p>Nous sommes désolés, la page que vous souhaitiez consulter n'a pas été trouvée.<br>
            Veuillez vous rapprocher de l'administrateur pour éclaircir le problème.</p>

        <p><a href="{{ path('login') }}">Retour à la page d'accueil</a></p>
    </div>
    </div>
{% endblock %}